<h2>Reactive Form</h2>
<form formGroup="reactiveForm" (ngSubmit)="onSubmit()">
  <label for="name">Name</label>
  <input type="text" formControlName="name" name="name" id="">
  <label for="">Email</label>
  <input type="text" formControlName="email" name="email" id="">
  <label for="description">Password</label>
  <input type="text" formControlName="password" name="password" id="">
  <button type="submit" class="btn btn-primary">save</button>
</form>

<!-- <div class="container">
  <form [formGroup]="userForm" (ngSubmit)="onSubmit()" novalidate class="row">
    <div class="col-12 mb-3">
      <label for="name" class="form-label">Name</label>
      <input type="text" id="name" formControlName="name" class="form-control"
             [ngClass]="{ 'is-invalid': submitted && f.name.errors }">
      <div *ngIf="submitted && f.name.errors" class="invalid-feedback">
        <div *ngIf="f.name.errors?.required">Name is required.</div>
        <div *ngIf="f.name.errors?.minlength">Name must be at least 3 characters.</div>
      </div>
    </div>
    <div class="col-12 d-flex justify-content-between">
      <button type="submit" class="btn btn-primary">Submit</button>
      <button type="button" class="btn btn-secondary" (click)="onReset()">Reset</button>
    </div>
  </form>
</div> -->